<div class="container">
  <div class="col-50" layout="row" layout-align="center center">
    <crossfit-boxes-list
      [boxes]="boxes$ | async"
      (selected)="selectBox($event)"
      (deleted)="deleteBox($event)"
      (viewedBox)="viewBox($event)"
    ></crossfit-boxes-list>
  </div>
  <div class="col-50" layout="row" layout-align="center center">
    <crossfit-box-details
      [form]="form"
      [box]="selectedBox$ | async"
      (saved)="saveBox($event)"
      (cancelled)="cancel()"
    ></crossfit-box-details>
  </div>
</div>
